body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: calc(15px + 0.390625vw);
}

h3{
    text-align: center;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: -1% 0%;
}

.logo-link{
    max-width: 30%;
}

.logo {
    width: 100%;
    vertical-align: top;
}

.navbar-text-it {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: calc(15px + 2vw);
    color: rgb(103, 103, 103);
    vertical-align: top;
}

.navbar-text-sm {
    color: rgb(151, 150, 150);
    padding-right: 2%;
}

.header-section {
    background-color: #009fe1;
    height: auto;
    padding: 5%;
}

.mainpic {
    width: 66%;
    height: auto;
    display: block;
    border: solid white 10px;
    margin: 0 auto;
}

.info {
    text-align: center;
    background-color: #009fe1;
    color: white;
    padding-bottom: 1%;
    margin-top: -2%;
}

.info-title {
    font-size:3em;
}

.info-text {
    padding: 0 3em;
    font-size:20px;
}

.info-pic-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.info-pic {
    width: 35%;
    height: auto;
    border: solid white 10px;
}

.brand-title {
    font-size:3em;
    padding-top: 30px;
    color: rgb(143, 142, 142);
}

.brands {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 3em;
    padding-bottom:10px;
}

.web-address {
    text-decoration: none;
    color: rgb(143, 142, 142);
    padding-right: 30%;
    text-align: right;
    margin-top: -2.5%;
    padding-bottom: 2.5%;
}

.grid-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    text-align: left;
    align-items: center;
    text-decoration: none;
    color: rgb(143, 142, 142);
    padding: 2% 5%;
}

.grid-text span {
    max-width: 50%;
}

.footer {
    text-align: left;
    background-color: #009fe1;
    color: white;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    min-width: 60%;
}

.contact-font {
    font-size: calc(8px + 0.6vw);
}

.careers {
    text-decoration: none;
    color: white;
    padding: 1% 0;
}

@media only screen and (max-width: 768px) {
    .grid-text{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-decoration: none;
        color: rgb(143, 142, 142);
    }

    .link {
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        padding-bottom:10px;
        padding-right: 0em;
    }

    .grid-text span {
        max-width: 80%;
    }

    .web-address {
        text-decoration: none;
        color: rgb(143, 142, 142);
        padding-right: 0%;
        text-align: center;
        margin-top: 0;
        padding-bottom: 2.5%;
    }

    .whitespace span {
        margin-top: -2em;
    }

    .footer {
        text-align: left;
        background-color: #009fe1;
        color: white;
        padding: 2%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
    }
    
    .contact-font {
        font-size: 15px;
    }

    .careers {
        padding-top: 2%;
    }
}

