body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

h3{
    text-align: center;
    margin: 0px;
}

.navpic {
    width: 20%;
    height: auto;
}

.mainpic {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.info {
    text-align: center;
    background-color: #009fe1;
    color: white;
    padding: 40px;
}

.info-title {
    font-size:3em;
    padding-bottom: 20px;
}

.info-text {
    padding: 0 3em;
    font-size:20px;
}

.info-pic-section{
    display: flex;
    justify-content: space-evenly;
}

.info-pic {
    width: 40%;
    height: auto;
    padding: 10px;
}

.brand-title {
    font-size:3em;
    padding-top: 30px;
    color: rgb(143, 142, 142);
}

.brands {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom:10px;
}

.grid-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: rgb(143, 142, 142);
    padding: 2% 5%;
}

.footer {
    text-align: left;
    background-color: #009fe1;
    color: white;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

.careers {
    text-decoration: none;
    color: white;
}